@import "tailwindcss";

:root {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;

  background-color: #f3f4f6;
  background-image: url("/bg-terra.webp");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  min-height: 100vh;
  font-display: swap;
}
